#main {
    border-style: solid;
    border-color: rgb(85, 85, 238);
    border-width: 2px;

}

.pink {
    color: pink;
}

@media (min-width: 600px) {
    #container {
        display: flex;
    }
    
    #main {
        width: 70%
        color: white;
    }
    
    #sidebar {
        width: 30%
        color: white;
    }

    body {
        background-color: color: rgb(85, 85, 238);
        color: black;
        font-family: "PT Sans", Calibri, Tahoma, sans-serif; 
      }
}
